body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-radius: 15px;
    border: 5px solid purple;
    height: 500px;
    width : 400px;
    display: flex;
    flex-direction: column;
    background-color: plum;
    /* justify-content: center; */
    /* align-items: center; */
}

.display {
    height: 150px;
    width: 400px;
    background-color: white;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}

#top, #bottom {
    font-size: 36px;
    padding-top:16px;
    padding-right: 16px;
    padding-bottom:10px;
}

#bottom {
    padding-bottom:16px;
}

.section {
    display: flex;
    height: 17%;
    margin: 5px 20px;
    flex: 1; 
    justify-content: center;
    gap:8px;
}

#first{
    margin-top: 20px;
}

#last{
    margin-bottom:20px;
}

#clear,#delete,#percentage,#divide,#seven,#eight,#nine,#multiply,#four,
#five,#six,#subtract,#one,#two,#three,#plus,#zero,#dot {
    height: 100%;
    width: 25%;
}

#equal {
    width: 50%;
}
           









